/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    margin-left: 5rem;
}

button:hover {
    background-color: #4d97ec;
}



.hidden {
    display: none;
}

/* styles.css */
/* ... (unchanged styles) */

.translation-container {
    display: flex;
    justify-content: space-around;
}

.translation-box {
    border: 2px solid #ddd;
    padding: 1.5rem; /* Increase padding for larger boxes */
    text-align: center;
    margin: 1rem;
    width: 45%; /* Adjust the width as needed */
    height: 200px; /* Set a fixed height */
    overflow-y: auto; /* Add scroll if content exceeds the height */
}

.translation-box h3 {
    font-size: 1.2rem; /* Adjust font size for the heading */
}

.translation-box p {
    font-size: 1rem; /* Adjust font size for the content */
}
